<html>
    <head>
        <!-- Page Set -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      
        <!-- Mobile Set -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      
        <title>Pls take images</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
    </head>
    <body>
        {% for section, img_link in photos.items() %}
            <h1>{{section}}</h1>
            <img src = {{ img_link }}/>
        {% endfor %}
    </body>

</html>